.logo_titre {
  background-image: url(../img/kinds/logo_titre.png);
  background-repeat: no-repeat ;
  float: left;
  width: 479px;
  height: 432px;
  margin-left: -20px;
  margin-top: 90px;
}

h1 {
  font-family: 'Magna-BlackCondensed';
  font-size: 250px;
  float: right;
  color: white;
  letter-spacing: 10px;
  position: absolute;
  left: 50%;
  margin-left: -473px;
}

ul.kinds {
  display: block;
  position: absolute;
  top: 41%;
  left: 50%;
  margin-left: -939px;
  padding: 0;
}

ul.kinds li {
  background-image: url(../img/kinds/button.png);
  width: 356px;
  height: 114px;
  display: table;
  float: left;
  text-align: center;
  margin-right: 20px;
}

ul.kinds li:hover {
  background-image: url(../img/kinds/button_pushed.png);
}

ul.kinds li a {
  display: table-cell;
  vertical-align: middle;
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-family: arial;
  text-transform: uppercase;
}

.fleur {
  background-image: url(../img/kinds/fleur.png);
  width: 940px;
  height: 300px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  margin-left: -470px;
}

